body {
  font-family: $font-poppins;
  color: $color-text-primary;
  font-weight: 400;
}

// From the given figma design
h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}
