// COLORS

// #E4A788, #E899C7 I couldn't find any use case for these colors on the figma design

// BG-COLORS
$color-bg-primary: #fff;
$color-bg-secondary: #efe04b;
$color-bg-tertiary: #d9d9d9; // For selected page

// BUTTON-COLORS
$color-btn-dead: #b90000;
$color-btn-alive: #98cd4d;
$color-btn-unknown: #b8b8b8;

// TEXT-COLORS
$color-text-primary: #44281d;
$color-text-secondary: #000; // Color for pagination text
$color-text-tertiary: #818181; // Color for specie and gender

// BORDER-COLORS
$color-border-primary: #11b0c8; // Color for logo's border bottom

// FONTS
$font-poppins: 'Poppins', sans-serif;
